
$font-stack: 'open sans';
$primary-color: #839CB2;
$secondary-color:#CDEBFE;
$white-color: #fff;
$black-color: #000;
$bg-form:#f4f5f5;
$text-color:#666;
$title-color:#333;
body {
  font: 100%;
  background-color: $white-color;
  color:#000;
  font-family: $font-stack;
 }


@import '_mainsheet';
